$desktop: 1000px;

$tablet-above: 901px;
$tablet: 900px;

$mobile-above: 631px;
$mobile: 630px;

@mixin desktop {
    @media (max-width: $desktop) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}

@mixin tablet-above {
    @media (min-width: $tablet-above) {
        @content;
    }
}


@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin mobile-above {
    @media (min-width: $mobile-above) {
        @content;
    }
}

