.container{
    width: 90%;
    max-width: 1400px;
}

.hidden-mobile{
    @include mobile{
        display: none !important;
    }
}
.visible-mobile{
    @include mobile-above{
        display: none !important;
    }
}
.hidden-tablet{
    @include tablet{
        display: none !important;
    }
}
.visible-tablet{
    @include tablet-above{
        display: none !important;
    }
}
.hidden-desktop{
    @include desktop{
        display: none !important;
    }
}